:root {
  --primary-color: rgba(139, 69, 19, 0.683);
  --primary-color-hover: rgba(139, 69, 19, 0.823);
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gray-color: #333;

}

/* #region body */

html,
body {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../images/background.png');
  /* Înlocuiește cu calea reală către imagine */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(1.5px);
  z-index: -1;
}

/* #endregion */

/* #region header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion */

/* #region menu */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  flex: 0 0 17%;
  margin-top: 110px;
  margin-left: 40px;
}

.secondary-menu {
  max-height: 240px;
  overflow-y: auto;
  padding-left: 20px;
}

.secondary-menu::-webkit-scrollbar {
  display: none;
}

.secondary-menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul.menu li a {
  position: relative;
  display: inline-block;
  color: black;
  padding: 5px 0;
  transition: transform 0.3s ease;
  font-size: 24px;
  font-weight: 700;
}

ul.menu li a:before {
  content: '';
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 22px;
  transition: transform 0.3s ease;
  background-color: var(--li-color);
}

.no-animation {
  cursor: default;
}

ul.menu li a:not(.no-animation):hover {
  transform: translateX(15px);
}

ul.menu li a:not(.no-animation):hover:before {
  transform: translateY(-50%) translateX(8px);
}


/* #endregion */

/* #region layout */

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.flex-balance {
  flex: 0 0 17%;
}

.title {

  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  color: var(--white-color);
}


/* #endregion */

/* #region table */

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

.table td,
.table th {
  border: 1px solid var(--white-color);
  padding: 5px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2bb;
}

.table tr:nth-child(odd) {
  background-color: #f2f2f2e6;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--primary-color);
  color: var(--black-color);
  font-size: 110%;
  font-weight: 600;
}

.table tbody {
  display: block;
  max-height: 268px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table thead,
.table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table tbody::-webkit-scrollbar {
  display: none;
}

.table tbody {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.edit-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-icon:focus {
  outline: none;
}

.edit-icon .editIcon {
  color: #007bff;
  font-size: 24px;
}

.deleteIcon {
  font-size: 24px;
  color: red;
}

.no-table-warning {
  font-size: 40px;
  color: red;
  font-weight: 700;
}

.posts-table tbody {
  max-height: 596px;
}

.width-100 {
  width: 100px;
}

.width-150 {
  width: 150px;
}

.width-200 {
  width: 200px;
}

.width-250 {
  width: 250px;
}

/* #endregion */

/* #region category-form */

.insert-category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.657);
  padding: 10px;
  max-width: 400px;
  margin-top: 30px;
  border-radius: 5px;
  border: var(--primary-color) solid 3px;
}

.add-input {
  border: none;
  padding: 10px;
  flex-grow: 1;
  border-radius: 5px;
  font-size: 15px;
}

.send-btn {
  background-color: var(--primary-color);
  color: var(--black-color);
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  width: 110px;
  opacity: 0.9;
}

.send-btn:hover {
  background-color: var(--primary-color-hover);
}


/* #endregion */

/* #region post-form */

.form-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.form-title {
  text-align: center;
  color: var(--gray-color);
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-label {
  font-size: 16px;
  color: var(--gray-color);
  margin-bottom: 5px;
}

.text-input,
.text-area,
.select-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-btn {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background: var(--primary-color-hover);
}

.rating-input {
  width: 100%;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
}

.rating-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.rating-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.rating-value {
  margin-top: 5px;
}

/* #endregion */

/* #region landing-page */

.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.landing-page-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  border: none;
  background-color: transparent;

}

.landing-page-btn div {
  letter-spacing: 2px;
  font-weight: bold;
  background: var(--primary-color);
  border-radius: 2rem;
  color: var(--black-color);
  padding: 1rem;
  font-size: 30px;
}

.landing-page-btn::before {
  content: '';
  z-index: -1;
  background-color: var(--primary-color);
  border: 2px solid var(--black-color);
  border-radius: 2rem;
  width: 110%;
  height: 100%;
  position: absolute;
  transform: rotate(10deg);
  transition: .5s;
  opacity: 0.2;
}

.landing-page-btn:hover {
  cursor: pointer;
  filter: brightness(1.2);
  transform: scale(1.1);
}

.landing-page-btn:hover::before {
  transform: rotate(0deg);
  opacity: 1;
}

.landing-page-btn svg {
  transform: translateX(-200%);
  transition: .5s;
  width: 0;
  opacity: 0;
}

.landing-page-btn:hover svg {
  width: 25px;
  transform: translateX(0%);
  opacity: 1;
}

.landing-page-btn:active {
  filter: brightness(1.4);
}

/* #endregion */

.hide {
  display: none;
}

.overlay-image {
  opacity: 0.9;
}