<ul class="menu">
  <% if (categories !='' ) { %>
    <li><a href="/categories/">Acasa</a></li>

    <li><a class="no-animation">Carti:</a></li>
    <div class="secondary-menu">
      <li><a href="/posts/">Toate</a></li>
      <% categories.forEach(function(category) { %>
        <li><a href="/posts/category/<%= category._id %>">
            -<%= category.name %>
          </a></li>
        <% }) %>
    </div>
    <li><a href="/posts/add">Adauga carte</a></li>
    <% } else { %>
      <% } %>
</ul>